.container {
    padding-left: 5%;
    padding-right: 5%;
}

.card {
    border: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
}

.card-body {
    padding: 1rem 1rem;
}

footer {
    height: 10%;
    font-size: 25px;
    background-color: #0dcaf0;
    text-align: center;
    color: #fff;
}

.text-center {
    text-align: center;
}