<div class="container">
    <h2>Tour Detail Page</h2>
    <div class="row">
        <div class="col-3">
            <div class="group">
                <label class="label1">From Place </label>
                <label class="label2">{{tourDetail.fromPlace}}</label>
            </div>
            <div class="group">
                <label class="label1">TO Place </label>
                <label class="label2">{{tourDetail.toPlace}}</label>
            </div>
            <div class="group">
                <label class="label1">Duration </label>
                <label class="label2">{{tourDetail.duration}}</label>
            </div>
            <div class="group">
                <label class="label1">Hours </label>
                <label class="label2">{{tourDetail.hours}}</label>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>